# Variables

In [ ]:
greeting = "Hello"
name = 'Name'
age = 17
canDrive=False
moneyOwed=180.27
label='c'

### Hello World Exercise

In [ ]:
# Write "Hello [Your Name]"

# Arithmetic

In [ ]:
a = 2
b = 5

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(b // a)
print(b % a)
print(b ** a)

# Conditionals

In [ ]:
x = 10
y = 15

if x < y:
    print("Passed test")
elif x == y:
    print("Passed test")
else:
    print("Failed test")

# Other options are != (not equals) or >

b1 = True
b2 = False

if b1 and b2:
    print("Passed test")

if b1 or b2:
    print("Passed test")

if not b1:
    print("Passed test")

In [ ]:
# If the age is higher than 17 set canDrive to true, and print "[Your Name] can drive"

In [ ]:
cTest = 'v'

match cTest:
    case 'c':
        print("First case")
    case 'v' | 'b':
        print("Second case")
    case 'n':
        print("Third case")
    case _:
        raise ValueError("Invalid input!")

# Collection Objects (Lists, Tuples, Dictionaries)

In [ ]:
demoList = [52, 'hello', True, 'v']
print(demoList[0])
print(demoList[1])
print(demoList[2])
print(demoList[3])

In [ ]:
demoTuple = (1, 2, 3)
print(demoTuple[0])

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)
fruits.extend(["mango", "guava"])
print(fruits)
f = fruits.pop(0)
print(f)
print(fruits)

In [ ]:
names  = ["Khabib", "Connor", "Georges", "Demetrious", "Michael"]
wins   = [29      , 22      , 26       , 25          ,  30]
losses = [0       , 6       , 2        , 4           ,  9]

# Add a new athlete: Khamzat - Wins: 15 - Losses: 0
# Compute the total number of matches for each athlete

In [ ]:
record = {"Khabib": (29, 0), "Connor": (22, 6), "Georges": (26, 2), "Demetrious": (25, 4), "Michael": (30, 9)}
# Repeat the above

# Loops (For, While)

In [ ]:
for i in range(10):
    print(i)

In [ ]:
i = 0
while i < 10:
    print(i)

In [ ]:
famousFirstNames = ["George", "Nelson", "Winston", "Abraham", "William"]
famousLastNames = ["Washington", "Mandela", "Churchill", "Lincoln", "Shakespeare"]

numFamousPeople = len(famousLastNames)
for i in range(numFamousPeople):
    print(f"{famousFirstNames[i]} {famousLastNames[i]}")

In [ ]:
for name in famousFirstNames:
    print(name)

In [ ]:
for (first, last) in zip(famousFirstNames, famousLastNames):
    print(f"{first} {last}")

### Exercise: Fibonacci

In [ ]:
N = 5

n1 = 0
n2 = 1

for cIter in range(N):
    pass # TODO: Complete this!

### Exercise: Find the minimiser

In [ ]:
import math
from math import fabs

x = 0.25
f = (1 - x) * math.exp(-x)
grad = (x - 2) * math.exp(-x)
s = 0.01

"""
TODO: Find the minimiser:
    1. evaluate the function: f = (1 - x) * math.exp(-x)
    2. find its gradient: grad = (x - 2) * math.exp(-x)
    3. check to see if the gradient is 'close enough' (you decide!) to zero
    4. do a gradient update: x = x - s * grad
"""

# Functions

In [ ]:
def greet(name):
    return f"Hello {name}"

for name in famousFirstNames:
    print(greet(name))

In [ ]:
from datetime import datetime

def get_category(transaction):
    match transaction[0]:
        case "Tesco":
            return "Groceries"
        case "Netflix" | "Steam":
            return "Entertainment"
        case "British Gas":
            return "Utilities"
        case "Amazon":
            return "Shopping"
        case _:
            return "Other"

transactions = [
    ("Tesco", 3.75, datetime(2025, 11, 16)),
    ("Steam", 18.99, datetime(2025, 11, 28)),
    ("Tesco", 1.25, datetime(2025, 11, 29)),
    ("Netflix", 12.99, datetime(2025, 11, 30)),
    ("British Gas", 75.00, datetime(2025, 12, 1)),
    ("Amazon", 10.00, datetime(2025, 12, 2)),
    ("Tesco", 1.25, datetime(2025, 12, 3)),
    ("Netflix", 12.99, datetime(2025, 12, 4)),
    ("British Gas", 75.00, datetime(2025, 12, 5)),
    ("Amazon", 10.00, datetime(2025, 12, 6)),
    ("Tesco", 1.25, datetime(2025, 12, 7)),
]

for i, transaction in enumerate(transactions):
    print(f"{i}: {get_category(transaction)}")

# Exercise: Write a function that computes the total spending for a given category over a given month

In [ ]:
x = 5
def display():
    x = 10
    print(x)

display()
print(x)

### Exercise: Shopping Cart

In the following, you are given a shopping cart filled with items, prices and quantities. Create a function that determines the total price. The price is calculated as follows:
- First sum the base prices
- Apply a discount code: "SAVE10" gives 10% off, "HALFOFF" gives 50% off
- Add a delivery charge: 1 day delivery costs GBP 7.50, 2-5 costs 2.50, above 5 days is free
- Add a flat 12.5% VAT charge to the final amount

In [ ]:
cart = [
    {"item": "Laptop", "price": 1200, "quantity": 1},
    {"item": "Mouse", "price": 25, "quantity": 2},
    {"item": "Keyboard", "price": 75, "quantity": 1},
    {"item": "Chair", "price": 145, "quantity": 2},
    {"item": "Desk", "price": 458, "quantity": 2},
    {"item": "Monitor", "price": 250, "quantity": 4},
]
num_delivery_days = 3
applied_code = "SAVE10"